%header.header
  .left-header
    %h1.left-header__title
      .center-outer
        .center-inner
          .bubbles
            %h1 Switter
.wrapper
  .post-contents
    .post-content
      = form_tag("/tweets/#{@tweet.id}", method: :patch, multipart: true) do
        %h3
          編集する
        %input{:autofocus => "true", :name => "image", :placeholder => "Image Url", :type => "text", :value => "#{@tweet.image}"}/
        %textarea{:cols => "30", :name => "text", :placeholder => "text", :rows => "10"}= @tweet.text
        %input{:type => "submit", :value => "更新する"}/

